.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 30em;
    background-image: url("../../assets/ProductsOverview/breisteek-ai-genereren (2).jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.video {
    width: 100vw;
    height: 500px;
}
video {
    width: 100%;
    height: 500px;
}
.error {
    color: var(--error);
    font-size: 1.2rem;
    margin-left: 5px;
}