.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.header {
    width: 100%;
    height: 30em;
    background-image: url("../assets/Profile/close-up-van-verschillende-veelkleurige-ballen-van-wollen-garen-breien-hobby-indoor-achtergrond.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 10px;
}