
.navigation {
    height: 30px;
    margin: 10px;
}

.active {
    border-bottom: var(--border_active);
    color: var(--border_active);
    text-decoration: none;
}

.default {
    color: var(--text);
    text-decoration: none;

}

.default:hover {
    font-size: 19px;
    transition: ease;
}

li {
    margin: 0 10px;
    list-style: none;
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

@media screen and(max-width: 400px) {
    li {
        font-size: 12px;
        margin: 0 ;
        text-align: center;
    }

    ul {
        flex-direction: column;
        align-items: center;

    }

}


