.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/AddProduct/breisteek-ai-genereren (1).jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
}

.container {
    background-color: var(--background_container);
    box-shadow: 0 0 15px 0 var(--container_shadow);
    padding: var(--padding_container);
    width: var(--width_container);
    max-width: var(--max_width_container);
    border-radius: var(--border_radius_container);
    margin: var(--margin_container);
}

.form {
    display: var(--display_form);
    flex-direction: var(--flex_direction_form);
    gap: var(--gap_form);
    margin-top: var(--margin_top_form);
}

.numbers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.input {
    border: var(--border_input);
    outline: var(--outline_input);
    background-color: var(--background_input);
    height: var(--height_input);
    border-radius: var(--border_radius_input);
    margin: var(--margin_input);
    font-size: var(--font_size_input);
    padding: var(--padding_input);
    color: var(--text);
    font-weight: var(--font_weight_input);
}

.input::placeholder {
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
    color: var(--text);
}
.input:focus {
    box-shadow: 0 0 2px 1px var(--input_focus);
}
.area {
    height: 80px;
    margin-bottom: 20px;
    padding-top: 5px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.required {
    font-size: 0.8rem;
}
.error {
    color: var(--error);
    font-size: 1.2rem;
    margin-top: 5px;
}