.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/Signin/een-stapel-warme-winterkleding-op-een-bed.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.container {
    background-color: var(--background_container);
    box-shadow: 0 0 15px 0 var(--container_shadow);
    padding: var(--padding_container);
    width: var(--width_container);
    max-width: var(--max_width_container);
    border-radius: var(--border_radius_container);
    margin: var(--margin_container);
}
.form {
    display: var(--display_form);
    flex-direction: var(--flex_direction_form);
    gap: var(--gap_form);
    margin-top: var(--margin_top_form);
}
.input {
    border: var(--border_input);
    outline: var(--outline_input);
    background-color: var(--background_input);
    height: var(--height_input);
    border-radius: var(--border_radius_input);
    margin: var(--margin_input);
    font-size: var(--font_size_input);
    padding: var(--padding_input);
    color: var(--text);
    font-weight: var(--font_weight_input);
}
.input::placeholder {
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
    color: var(--text);
}
.input:focus {
    box-shadow: 0 0 2px 1px var(--input_focus);
}
.label {
    color: ghostwhite;
    margin-left: 5px;
}
.radio-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 600px;
    padding: 20px 20px;
    justify-content: start;
}
.radio {
    margin: 10px 15px;
}
.checkbox-container {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-evenly;
}
.required {
    font-size: 0.8rem;
}
.error {
    color: var(--error);
    font-size: 1.2rem;
    margin-left: 5px;
}