.btn {
    padding: .5em 1em;
    border-radius: .25em;
    font-weight: bold;
    color: var(--text_btn);
    background-color: var(--background_btn);
    border: var(--border_btn);
    margin: 10px 0;
}
.btn:hover,
.btn:focus {
    box-shadow: var(--shadow_btn);
}