.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/Login/one-woman-knitting-multi-colored-winter-scarf-generated-by-ai (2).jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: var(--background_container);
    box-shadow: 0 0 15px 0 var(--container_shadow);
    padding: 20px 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.title {
    color: ghostwhite;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.input {
    border: none;
    outline: none;
    background-color: var(--background_input);
    height: 40px;
    border-radius: .25em;
    margin: .5em;
    font-size: 1rem;
    padding: .5em;
    color: white;
    font-weight: lighter;
}

.input:focus {
    box-shadow: 0 0 2px 1px hsl(200, 100%, 50%);
}

.input::placeholder {
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
    color: ghostwhite;
}

