@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html {
  background: var(--background_home);
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}

:root{
  --background_home: #18302E;
  --background_container: hsl(175, 33% , 14%, .7);
  --container_shadow:hsl(175, 33% , 14%, .7);
  --background_input: hsl(200, 100%, 91%, .3)
}
.app--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}