html {
    background: var(--background_home);
    color: var(--text);
}

.introduction-text-container {
    width: calc(100vw - 100px);
    height: 200px;
    margin: 10px;
}

.introduction-text_1 {
    margin: 20px 0;
}

.introduction-text_2 {
    margin: 20px 0;
}

.introduction-image-1 {
    width: 100%;
    height: 800px;
    margin: 10px;
}

.introduction-image-2 {
    width: 100vw;
    height: 800px;
    margin: 10px;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 20px;
}

.categorie:hover {
    cursor: pointer;
}

.categorie {
    width: 380px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid var(--background_home);
    margin: 10px;
}

.sheep {
    background-image: url("../../assets/Catagorie/Sheep/cute-lamb-grazing-enjoying-springtime-meadow-generated-by-ai.jpg");
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.sheep:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.alpaca {
    background-image: url("../../assets/Catagorie/Alpaca/llama-with-fluffy-head-black-background (1).jpg");
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.alpaca:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.yak {
    background-image: url("../../assets/Catagorie/Yak/animal-portrait-close-up.jpg");
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.yak:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.cotton {
    background-image: url("../../assets/Catagorie/Cotton/cotton-is-vase-cotton-is-bloom (1).jpg");
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.cotton:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.plant {
    background-image: url("../../assets/Catagorie/Plant/spikes-ripe-wheat-farmers-field-ai-generated-image (1).jpg");
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.plant:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.exotic {
    background-image: url("../../assets/Catagorie/Exotic/fluffy-small-mammal-with-black-fur-looking-cute-generated-by-ai.jpg");
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.exotic:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input {
    margin: 10px 0;
    border-radius: 5px;
}

.input::placeholder {
    padding-left: 10px;
    padding-top: 2px;
}

.review-box {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.icon {
    width: 80px;
    height: 60px;
    margin-top: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid var(--footer);
    width: 100%;
}

@media screen  and (max-width: 400px) {
    .introduction-image-1,
    .introduction-image-2 {
        width: 100%;
        height: 400px;
    }

    .sheep:hover,
    .alpaca:hover,
    .yak:hover,
    .cotton:hover,
    .plant:hover,
    .exotic:hover {
        transform: scale(1);
    }

    .introduction-text-container {
        width: 80%;
        height: 500px;
    }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    .introduction-image-1,
    .introduction-image-2 {
        width: 100%;
        height: 400px;
    }

    .introduction-text-container {
        width: 80%;
        height: 250px;
    }

}

.error {
    color: var(--error);
    font-size: 1.2rem;
    margin-left: 5px;
}