p {
    color: ghostwhite;
    font-size: larger;
}
.nav-link {
    color: ghostwhite;
}
.nav-link:hover {
    color: blanchedalmond;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.figure {
    width: 450px;
    height: 450px;
    margin-bottom: 20px;
}
.message {
    margin: 10px 0;
}